@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);

header {
	width: 800px;
	height: 70px;
    position: inherit;
    margin-bottom: 5px;    
    float:left;
}

header h1 {
	margin:0px;
    position:absolute;
}

header h1 a:hover{
    opacity: 0.8;
}

section {
    position: absolute;
    padding-left: 100px;
    padding-bottom: 60px;
}

body{
    
}

nav {
	position:absolute;
	right: 0;
    margin-right: 20px;
}
nav ul {
	list-style-type:none;
	overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a:hover{
    opacity: 0.8;
}

info ul li{
    list-style-type:none;
    float:right
}
aside ul li{
    margin-right: 10px;
}


footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 7px 0 7px 0;
    background-image: url(../images/buck.jpg);
	background-repeat: repeat-x;
	text-align: center;
}
footer small {
	font-size: 100%;
}
/* 基本レイアウト ここまで↑ */

/* 「施設のご案内」ページ ここから↓ */

/* 「施設のご案内」ページ ここまで↑ */

/* 「料金プラン」ページ ここから↓ */

/* 「料金プラン」ページ ここまで↑ */

/* 「ご意見・ご要望」ページ ここから↓ */

/* 「ご意見・ご要望」ページ ここまで↑ */
